.button-icon{
    background-color: transparent;
    border: 1px solid var(--color-main-light);
    border-radius: var(--border-radius);
    text-transform: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding:  calc(var(--basic-margin) * 0.3) calc(var(--basic-margin) * 1.1);
}

.button-icon > img{
    height: 16pt;
    width: auto;
}