.textbox-container{
    width: calc(100% - var(--basic-margin));
    padding-left: var(--basic-margin);
    padding-top: calc(var(--basic-margin) * 0.3);
    padding-bottom: calc(var(--basic-margin) * 0.3);
    border-radius: var(--border-radius);
    border: var(--color-sec-dark) solid 1px;
}