.header-container{
    width: 100%;
    align-items: center;
    background-color: var(--color-main-dark);
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-logo{
    flex-grow: 0;
    height: 45px;
}