@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
    All predefined global values used in the application
 */
:root{
    /*Colors*/
    --color-main-dark: #2b454f;
    --color-main-medium: #359287;
    --color-main-light: #d0c8a0;
    --color-attention-dark: #962F18;
    --color-attention-medium: #E66B19;
    --color-attention-light: #E87A30;
    --color-sec-dark: #707070;
    --color-sec-medium: #F5F5F5;
    --color-background: #FFFFFF;
    --color-background-opaque: rgba(0, 0, 0, 0.7);

    /*Font*/
    --font: 'Roboto', sans-serif;

    /*Layout*/
    --header-height: 120pt;
    --border-width: 1px;
    --border-radius: 5px;
    --basic-height: 30pt;
    --basic-margin: 16pt;
    --border: solid var(--border-width) var(--color-sec-medium);
}

*{
    /*Global settings*/
    font-family: var(--font);
    padding: 0;
    margin: 0;
}

html, #root{
    background-color: var(--color-background);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.App{
    width: 100%;
    height: 100%;
}

/*
    Predefined classes that can be used to markup text
    contains:
       - header
       - title
       - body
       - body-sec
       - body-thr
 */
.text-header{
    width: 100%;
    font-size: 42pt;
    font-weight: 700;
    color: var(--color-main-dark);
    text-align: left;
    text-decoration: none;
}

.text-title{
    width: 100%;
    font-size: 26pt;
    font-weight: 700;
    color: var(--color-main-light);
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.text-body{
    width: 100%;
    font-size: 20pt;
    font-weight: 300;
    color: var(--color-sec-dark);
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    white-space: pre-line;
}

.text-body-sec{
    width: 100%;
    font-size: 16pt;
    font-weight: 300;
    color: var(--color-sec-dark);
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    white-space: pre-line;
}

.text-body-thr{
    width: 100%;
    font-size: 14pt;
    font-weight: 200;
    color: var(--color-sec-dark);
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    white-space: pre-line;
}


/*
    Every page content is wrapped in a page container.
    Set as flexbox to make markup easier.
 */
#page-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* horizontal */
    justify-content: flex-start; /* vertical */
    height: 100%;
    overflow: auto;
    flex: 1;
}
#page-container > div{
    width: 100%;
}

/*
    Horizontal and vertical flexbox classes to easily create flex-boxes
 */
.container-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* horizontal */
    align-items: flex-start; /* vertical */
    overflow: visible;
}

.container-horizontal > div{
    height: 100%;
}

.container-vertical{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* horizontal */
    justify-content: flex-start; /* vertical */
    overflow: visible;
}

.container-vertical > div{
    width: 100%;
}

/*
    Main container in app to differentiate between the app and loading screen.
 */
#main-container{
    height: 100%;
    width: 100%;
}



